body {
    text-align: center;
    background-color: beige;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

button {
    width: 100px;
}

.valid {
    background-color: green;
}

.invalid {
    background-color: red;
}

/* input, label {
    float:left;
}

label {
    width: 300px;
    padding-right: 20px;
    text-align: right;
    clear: left;
    padding-bottom: 20px;
}

input {
    text-align: left;
    width: 500px;
}

p {
    float: left;
    text-align: left;
} */


